<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.controller.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.shop.service.impl.pojo.Order">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="consignee_name" jdbcType="VARCHAR" property="consigneeName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="zip" jdbcType="VARCHAR" property="zip" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <association property="user_info" javaType="com.shop.service.impl.pojo.User" column="user_id"
                 select="com.shop.controller.dao.UserMapper.selectByUserId" />
    <collection property="orderItems" ofType="com.shop.service.impl.pojo.OrderItem" column="order_id"
                select="com.shop.controller.dao.OrderItemMapper.selectByOrderId"/>
  </resultMap>
  <sql id="Base_Column_List">
    order_id, user_id, consignee_name, address, zip, phone_number, status, create_time
  </sql>
  <select id="selectByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders
    where order_id = #{orderId,jdbcType=INTEGER} and user_id!='0'
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders
    where user_id = #{userId,jdbcType=INTEGER} and user_id!='0'
  </select>
  <delete id="deleteByOrderId" parameterType="java.lang.Integer">
    delete from orders
    where order_id = #{orderId,jdbcType=INTEGER} and user_id!='0'
  </delete>
  <!--设置主键回填-->
  <insert id="insert" parameterType="com.shop.service.impl.pojo.Order"
        keyProperty="orderId" useGeneratedKeys="true">
    insert into orders (user_id, consignee_name,
      address, zip, phone_number)
    values (#{userId,jdbcType=INTEGER}, #{consigneeName,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}, #{zip,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR})
  </insert>
  <update id="updateByOrderId" parameterType="com.shop.service.impl.pojo.Order">
    update orders
    <set>
      <if test="consigneeName != null">
        consignee_name = #{consigneeName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="zip != null">
        zip = #{zip,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER} and user_id!='0'
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders
    where user_id!='0'
  </select>

  <select id="selectAll1" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders  where user_id='0'
  </select>

  <select id="searchOrders" resultMap="BaseResultMap" parameterType="com.shop.service.impl.pojo.Order">
    select
    <include refid="Base_Column_List" />
    from orders
    <where>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER}
      </if>
      <if test="consigneeName != null">
      and  consignee_name = #{consigneeName,jdbcType=VARCHAR}
      </if>

    </where>
    and user_id!='0'
  </select>
</mapper>
